/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
  outline: 2px solid var(--black);
  outline-offset: 0.125rem;
}

/* Set color style to inherit */
.inherit-color *, .inherit-color {
  color: inherit;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child,
.w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0 !important;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

/* Apply "..." after 3 lines of text */
.text-style-3lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .hide,
  .hide-tablet {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none !important;
  }
}
@media screen and (max-width: 479px) {
  .hide-mobile {
    display: none !important;
  }
}

.margin-0 {
  margin: 0rem !important;
}

.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

.demo-new_text-rich-text ol, .demo_rte ol {
  counter-reset: section;
  list-style: none;
}

.demo-new_text-rich-text ol li, .demo_rte ol li {
  margin: 0 0 0 30px;
}

.demo-new_text-rich-text ol li:before, .demo_rte ol li:before {
  content: counter(section);
  counter-increment: section;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 27px;
  margin: 0 10px 0 -40px;
  border: 1px solid #161616;
  border-radius: 100%;
  text-align: center;
}

.is-for-input-select {
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Card hovers with underline link */ 
 .cx_card:hover .hover-underline,  .helpdesk_card:hover .hover-underline,  .playbook-chapter_content:hover .hover-underline{
    	background-size: 100% 100%;
 }

 
 /* Border radius on product page vid */
.border-radius-vid {
	border-radius: 0.625rem !important;
  overflow: hidden !important;
}

.interactive-demo_tabtags{
  	width: fit-content;
  }
  
  
/* Attribute styles for components */

[data-layout="is-reversed"] {
    flex-direction: row-reverse;
}


/* Button text event off */
.button > div, .button-secondary > div, .button-tertiary > div, .button-ghost > div {
	pointer-events: none;
}


/* Range slider pricing page */
.range-slider_handle:focus-visible {
 outline: none !important;
 outline-offset: 0px !important;
}

.w-tabs:before, .w-tabs:after {
	display: none;
}

.range-value:focus-visible {
	outline: none !important;
	box-shadow: inset 0 0 0 1px var(--black);
}

/* Dropdown pricing page */
.w-dropdown-link.w--current {
    color: #fff;
    background-color: var(--black);
}

.addons_dropdown-link:last-of-type {
    border-bottom: 0px;
}

/* Pre footer CTA width based on attribute */
	[element-size="full-width"] {
		width: 100%;
	}

script {
	position: absolute; 
  height: 0;
  width: 0;
}

.is-summary-hidden {
	display: none !important;
}

  /* underline animation on new blog cards */
.hover-underline {
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 2px), black 2px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  display: inline;
  transition: background-size 0.5s;
}

.cx-card:hover .hover-underline {
  background-size: 100% 100%;
}


.ai-progress-bar {
	background: linear-gradient(to right, #CB55EF, #6F0C86);
}

.splide__pagination__page.ai-features > .ai-progress-bar {
	display: none;
}

.splide__pagination__page.ai-features.is-active > .ai-progress-bar {
	display: block;
}

.splide__pagination__page.ai-features {
	pointer-events: auto !important;
}

.splide__slide.ai-features {
	height: 100% !important;
}

.w-background-video>video {
    z-index: 1;
}

/* Sign up alt classes for "light" form */
.form-captcha_wrapper.is-hidden {
  display: block;
  overflow: visible;
  height: 5.6rem;
  min-height: 0rem;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  transition-property: height;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.signup-account_item.field-hidden {
  display: none;
}

.signup-account_item.is-phone.field-hidden {
  display: none;
}

.submit-form-button-wrapper.is-relative.field-hidden {
  display: none;
}

img[src="https://rdcdn.com/rt?aid=22184&e=1&img=1"] {
    display: none;
}

.hide {
	display: none;
}

.text-input_wrap > * {
  display: inline-flex;
}
