div.submitted-message{
    height:0 !important;
    width:0 !important;
    display:none!important;
    visibility:hidden !important;
  }
  
  form.hs-form label {
    margin-bottom: 2px !important;
    font-size: 0.9rem;
  }
  
  form.hs-form ul.hs-error-msgs{
    list-style: none;
    padding: 0 !important;
    margin-top: 4px;
    margin-bottom: 10px;
  }
  
  form.hs-form ul.hs-error-msgs li label{
    font-size: 12px;
    line-height: 18px;
  }
  
  .wrapper-flex-hubspot .hs-form {
    display: flex;
    gap: 12px;
  }
  
    .wrapper-flex-hubspot .hs-form .hs-form-field.hs-email{
        position:relative;
    margin-bottom:28px !important;
    }
      
  .wrapper-flex-hubspot .hs-form .hs-form-field.hs-email .no-list.hs-error-msgs{
        position: absolute;
    bottom: -28px;
    }
  
  .wrapper-flex-hubspot.dark-background .hs-input {
    border: 2px solid white;
  
  }
  
  div.hs_error_rollup{
    position:absolute;
    display:none !important;
  }
  
  .hs_submit.hs-submit {
    display: block !important;
  }

  .demo-form-hubspot-cp .hs_submit.hs-submit {
    padding-top: 7px;
  }
  
  .hs-button.primary.large,
  .hs-cta-wrapper div:not(.hubspot__blog-post) .cta_button {
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    border: 2px solid #0075ff;
    background-color: #0075ff;
    border-radius: 5px;
    line-height: 24px;
    font-weight: 500;
    font-family: Inter,sans-serif;
    cursor: pointer;
    transition: .2s;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  .hs-button.primary.large:hover, .hs-cta-wrapper .cta_button:hover {
    color: white;
    border-color: #0075ff;
    background-color: #0075ff;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .thank-you-message .hs-button.primary.large:hover, .hs-cta-wrapper .cta_button:hover {
    background-color: white;
    color: #0075ff;
  }
  
  .thank-you-message .hs-button.primary.large:hover, .thank-you-message .hs-cta-wrapper .cta_button:hover {
    background-color: white;
    color: #0075ff;
  }
  
  .hs-input {
    border: none;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    color: #161616;
    border: 2px solid #161616;
    border-radius: 5px;
    min-width: 270px;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 0.95rem;
    font-weight: normal;
  }

  .hs-input::placeholder{
    color: #6A6A6A;
  }

  .hs-fieldtype-intl-phone select.hs-input{
    min-width: 40% !important;
  }
  .hs-fieldtype-intl-phone input.hs-input{
    max-width: 60% !important;
    min-width: 60% !important;

  }
  
  #hubspot-form-1 .hs-input {
    border: 2px solid white;
  }
  
  div.hs-fieldtype-select select.hs-input {
    background: url("https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/5e848d055b62341ba998cbc7_arrow%20bottom%20black.svg") no-repeat right;
    background-position: 95%;
    background-color: white;
  }
  
  .hbspt-form li .hs-input {
    box-sizing: border-box;
    padding: 0;
    border: none;
    width: auto;
    height: auto;
    min-width: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    margin-right: 12px;
  }
  
  .hbspt-form input[type=checkbox] {
    -webkit-appearance: checkbox;
  }
  
  .hbspt-form input[type=radio] {
    -webkit-appearance: radio;
  }
  
  .hs-fieldtype-intl-phone{
    height: auto;
    min-width: inherit !important;
    padding: 0 !important;
    border: 2px solid #161616 !important;
  }

  .hs-fieldtype-intl-phone select{
   /* width: 150px !important;*/
    /*min-width: 150px !important;*/
    background: url(https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/5e848d055b62341ba998cbc7_arrow%20bottom%20black.svg) no-repeat right !important;
    background-position: 90% !important;
    border-radius: 0px !important;
    border-right: 1px solid #DDDDDD !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    margin: 2px 0px;
  }
  .hs-fieldtype-intl-phone input{
     border: none !important;
     border-radius: none !important;

   }

  .hbspt-form .inputs-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .hs-form-booleancheckbox-display .hs-input {
    width: 15px;
    height: 15px;
  }
  
  .hs-form-booleancheckbox-display .hs-input:checked {
    background-color: #0075ff;
  }
  
  .hs-form-field {
    margin-bottom: 12px;
  }
  
  .hs-form.stacked .hs_email {
    flex: 1 1 0%;
  }
  
  .cta-container.size-normal .hs-input {
    border-color: white !important;
  }
  
  .div-demo__hero-lp .hs-input {
    border-color: #161616;
  }
  
  .hs-input:focus-visible {
    outline: none;
    border: 2px solid #0075ff;
  }
  
  .no-list.hs-error-msgs.inputs-list {
    padding: 4px 0 0 20px;
    color: red;
    margin-bottom: 0px;
  }
  
  .no-list.hs-error-msgs.inputs-list li {
    margin-bottom: 0px !important;
  }
  
  .form-signup-top .hs-form,
  .hubspot-form-demo-short .hs-form {
    display: grid;
    grid-auto-rows: minmax(auto,1fr);
    grid-column-gap: 5px;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
  }

  .customer_story_cta-wrapper .hubspot-form-demo-short .hs-form.custom-hbs-form {
    display: block;
  }
  
  .form-signup-top .hs-input,
  .hubspot-form-demo-short .hs-input {
    margin-bottom: 0px;
  }
  
  .form-signup-top .hs-submit
  .hubspot-form-demo-short .hs-submit {
    margin: 0px;
    width: 100%;
  }
  .hs-form-checkbox {
    margin-bottom: 3px;
  }
  .hs-fieldtype-checkbox ul.multi-container li.hs-form-checkbox label input[type="checkbox"] {
    display: none;
  }

  .hs-fieldtype-checkbox ul.multi-container li.hs-form-checkbox {
    color: #6A6A6A;
  }



  .hs-fieldtype-checkbox ul.multi-container li.hs-form-checkbox label input[type="checkbox"] + span {
    position: relative;
    padding-left: 30px; /* Add space for the custom checkbox */
    cursor: pointer;
  }

  .hs-fieldtype-checkbox ul.multi-container li.hs-form-checkbox label input[type="checkbox"] + span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px; /* Width of the custom checkbox */
    height: 15px; /* Height of the custom checkbox */
    border: 2px solid #161616;
    border-radius: 5px;
    /*background-color: #fff; /* Background color when unchecked */
  }


  .hs-fieldtype-checkbox ul.multi-container li.hs-form-checkbox label input[type="checkbox"]:checked + span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px; /* Width of the custom checkbox */
    height: 15px; /* Height of the custom checkbox */
    border: 2px solid #161616;
    border-radius: 5px;
    /*background-color: #fff; /* Background color when unchecked */
  }


  .hs-fieldtype-checkbox ul.multi-container li.hs-form-checkbox label input[type="checkbox"]:checked + span {
    background-image: url(../img/checkbox-mark.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
  }
  .hs-fieldtype-checkbox ul.multi-container li.hs-form-checkbox label input[type="checkbox"]:checked + span::before {
  }

  .hs-fieldtype-checkbox ul.multi-container li.hs-form-checkbox label input[type="checkbox"]:checked + span {
    color: #161616; /* Text color when checked */
  }
  
  .hbspt-form li .hs-input{
    margin-right: 6px;
  }
  
  .form-columns-2 .hs-form-field {
    width: 100% !important;
  }
    
  .form-columns-3 .hs-form-field  {
    width: 100% !important;
  }
    
  .hs-form-field{
    width: auto !important;
  }
  
  .grid-hero__2-col .hs-form {
    display: flex;
    gap: 8px;
    max-width: 531px;
    width: 100%;
  }

   /* Hubspot form style - one line */
   .hubspot__blog-post.max-width.w-embed {
    margin: 0;
  }

  
  /* Mobile landscape CSS */
  @media (max-width: 767px) {  
    .hs-input {
      min-width: auto;
    }
  
    .hs-form.stacked {
      display: block;
    }
    .wrapper-flex-hubspot .hs-form {
      flex-direction: column;
    }
  }
      
  /* COLUMS -> Only desktop */
  @media (min-width: 992px) {

    div[class*='demo-form'] .form-columns-2 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
    
    .form-columns-2 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
  
    .form-columns-3 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
  }
    
  /* COLUMS -> Only tablet and mobile */
  @media (max-width: 991px) {
    
    .form-columns-2 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
    
    .form-columns-3 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
    
    .hs-input {
      min-width: auto;
    }

    .hs-form.stacked {
      display: block;
    }
    .wrapper-flex-hubspot .hs-form {
      flex-direction: column;
    }
  }
    
  /* mobile CSS */
  @media (max-width: 765px) {  
  
      .grid-hero__2-col .hs-form {
        display: block;
      }
      .hs-form-field {
        width: 100% !important;
      }
      .hs-input {
        width: 100% !important;
      }
      .hbspt-form li .hs-input {
        width: auto !important;
      }
      .hs_submit {
        display: block !important;
      }
      form.hs-form ul.hs-error-msgs {
        margin-top: 0px !important;
        margin-bottom: 10px !important;
      }
      .form-signup-top .hs-form,
      .hubspot-form-demo-short .hs-form {
        grid-template-columns: 1fr ;
      }
      .form-signup-top .hs-input, 
      .hubspot-form-demo-short .hs-input {
        margin-bottom: 12px;
      }
  }

/*HS CTA - popup*/
  div[id*='hs-overlay-cta']{
	transition: opacity 0.1s ease-in !important;
}
    
  
