input:focus,
input:hover {
  outline: none;
}

.valid-text {
  color: #24D69D;
}

.warning-text {
  color: #FDAB40;
}

.error-text {
  color: #F24F66;
}

.valid-input {
  border: 1px solid #161616;
  background-image: url("https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/6488854b5cf942a94a122851_check_circle.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 20px;

}

.warning-input {
  border: 1px solid #FDAB40;
  background-image: url("https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/6488854bbe24d8b37e6b636f_smallerror.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 20px;

}

.error-input {
  border: 1px solid #D6384D;
  background-image: url("https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/6488854c6767342ea44089b6_error.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 16px;
}
