input {
  background-repeat: no-repeat;
}

input[name='fullname'],
input[name='email'],
input[name='company_domain'],
input[name='account_domain']{

  background-position: 98% 50%;
}

input:focus,
input:hover {
  outline: none;
}

.message-valid {
  color: #24D69D;
  font-size: 12px;
}

.message-warning {
  color: #FDAB40;
  font-size: 12px;
}

.message-error {
  color: #F24F66;
  font-size: 12px;
}

.valid-input {
  border: 2px solid #161616;
  background-image: url("https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/6488854b5cf942a94a122851_check_circle.svg");
}

#signup-user-form input[name='password'] {
  background-position: 90%;
}

.field-valid {
  border-color:#161616;
  background-image: url("https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/6488854b5cf942a94a122851_check_circle.svg");
}

.text-valid {
  background-repeat: no-repeat;
  background-position: 100%;
  background-image: url("https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/6488854b5cf942a94a122851_check_circle.svg");
}

.field-warning {
  border-color: #FDAB40;
  background-image: url("https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/6488854bbe24d8b37e6b636f_smallerror.svg");
}

.field-error {
  border-color: #D6384D;
  background-image: url("https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/6488854c6767342ea44089b6_error.svg");
}

.field-message-container{
  position: absolute;
  font-size: 12px;
  line-height: 1.5;
}

li.message-warning{
  background-image: url('https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/64946f7790917ecedccee179_warning-orange.svg');
  color:#FDAB40;
}

li.message-error{
  background-image: url('https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/648ac53b388022dcf43288a3_close%20red.svg');
  color: #F24F66;
}

li.message-valid{
  background-image: url('https://uploads-ssl.webflow.com/5e4ff204e7b6f80e402d407a/64946e5589be146aea616d27_valid-green.svg');
  color: inherit;
  color: #24D69D;
}

#signup_button-message-container{
  text-align: center;
  width: 100%;
}

#account_domain-message-container{
  bottom:6px;
}

.form-input-append{
  background-image: none !important;
}

@keyframes trembling {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.warning-message-trembling {
  animation: trembling 0.5s infinite;
}